<h1>About Us</h1>
<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Who We Are</h1>
            </div>
            <div class="content">
                
                <p>Cooking Blog is here to help you cook delicious meals with less stress and more joy. We offer recipes and
                    cooking advice for home cooks,by home cooks. Helping create “kitchen wins” is what we’re all about.
                    Cooking Blog was founded in 2021 by Elise Bauer as a home cooking blog to record her favorite family recipes.
                    Today, Simply Recipes has grown into a trusted resource for home cooks with more than 3,000 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. We’re supported by a diverse group of recipe developers, 
                    food writers, recipe and product testers, photographers, and other creative professionals.
                    </p>
                <div class="button">
                    <a href="/explore-latest">Read More</a>
                </div>
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="img/img one.jpg">
        </div>
    </div>
</div>