<h1>Contact Us</h1>


    <div class="container">
        <div class="contactInfo"> 
            <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><img src="/img/location.png"></span>
                        <span>184 Ippokratous Street<br>
                            Athens, Gr<br>
                            11472</span>
                        </span>
                    </li>
                    <li>
                        <span><img src="/img/mail.png"></span>
                        <!-- <span>nassosanagn@gmail.com</span> -->
                        <span><a href = "mailto: nassosanagn@gmail.com">blogscookinghelp@gmail.com</a></span>
                    </li>
                    <li>
                        <span><img src="/img/call.png"></span>
                        <span>702-279-3488</span>
                    </li>

                </ul>
            </div>
            <ul class="sci">
                <li><a href="https://www.facebook.com/singhupasana809/"><img src="/img/1.png"></a></li>
                <li><a href="https://www.instagram.com/eccentric_soul_29/?hl=el"><img src="/img/3.png"></a></li>
                <li><a href="https://twitter.com/upasana2906"><img src="/img/2.png"></a></li>
                <li><a href="https://www.linkedin.com/in/upasana-singh-0029/"><img src="/img/5.png"></a></li>
                
            </ul>
        </div>
            <div class="contactForm">
                <h2>Send a Message</h2>
                <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Last Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="email" required>
                    <span>Email Address</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w100">
                    <textarea required></textarea>
                    <span>Write your message here...</span>
                </div>
                <div class="inputBox w100">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
            
            
     
